<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TopPartSlide.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7BFC5F241DDC039900BB367D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BFC5F3D1DDC039A00BB367D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BFC5F481DDC039A00BB367D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
